@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    top: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.navbar{
    background-color:#FF5D12;
    width: 100%;
    height: 100%;
}
.logo{
    color: white;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    margin-left: 20px;
}
.logo:hover{
    color: white;
}
.logo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.logo p{
    font-size: 12px;
    font-weight: 100;
    font-family: cursive;
    line-height: 0px;
}
.navbar-toggler-icon{
    background-image: url("../images/humberger.svg");
}
.accountuser a{
    font-size: 13px;
    color: white;
    display: flex;
    padding-right: 50px;
}
.accountuser img{
    width: 40px;
    height: 40px;
}
.offer a{
    color: white;
    font-size: 18px;
    font-family: 'Archivo Black', sans-serif;
}
.cart i{
    font-size: 37px;
    color: white;
}
.cart a button{
    width: 200px;
    height: 50px;
    background-color: #FF5D12;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    position: relative;
}
.cart span{
    font-size: 14px;
    color: white;
    position: absolute;
    right: 75px;
    background-color: #606060;
    padding: 0 3px;
    border-radius: 20%;

}
.product-container{
    margin-top: 6%;
    margin-right: 20%;
}
.product-container table th{
    color: #FF5D12;
}
.product-container .index, .index2{
    visibility: hidden;
}
.page-footer{
    margin-top: 42%;
    width: 100%;
    height: 100px;
    background-color:#D2DDE5;
}
.footer{
    padding-top: 20px;
    margin-left: 20%;
}
.footer .logo{
    color: #FF5D12;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    cursor: default;
}
.footer .about a{
    font-size: 30px;
    color: #522209;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.footer .copyright{
    font-size: 14px;
    color: #522209;
    padding-top: 15px;
}
