@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    top: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.navbar{
    background-color:#FF5D12;
    width: 100%;
    height: 100%;
}
.logo{
    color: white;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    margin-left: 20px;
}
.logo:hover{
    color: white;
}
.logo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.logo p{
    font-size: 12px;
    font-weight: 100;
    font-family: cursive;
    line-height: 0px;
}
.navbar-toggler-icon{
    background-image: url("../images/humberger.svg");
}
.accountuser a{
    font-size: 13px;
    color: white;
    display: flex;
    padding-right: 50px;
}
.accountuser img{
    width: 40px;
    height: 40px;
}

.offer a{
    color: white;
    font-size: 18px;
    font-family: 'Archivo Black', sans-serif;
}
.specialsnav{
    margin-top: 4%;
    margin-left: 5%;
}
.specialsnav h1{
    font-size: 22px;
    color: #FF5D12;
    font-weight: bold;
}
.specialsnav a{
    float: right;
    font-size: 20px;
    color: #522209;
    font-weight: 900;
    margin-right: 10%;
    text-align: center;
}
.specialsnav a:hover{
    text-decoration-style: solid #522209;
}
.specialsnav a img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
#specialslides{
    margin-top: 2%;
}
#specialslides .card{
    background-color: rgba(228, 232, 235, 0.3);
}
.specialslides .card img{
    height: 100%;
    object-fit: cover;
}
.specialslides .card span{
    color: #FF5D12;
    font-size: 40px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    margin-top: -20%;
}
.specialslides .card h5{
    position: relative;
    color:#522209;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    line-height: 38px;
}

.specialslides button{
    background-color:#FF5D12;
    float: left;
    margin-bottom:5%;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}
.specialslides a button{
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.specialslides .price{
    font-size: 30px;
    color:#FF5D12;
    font-weight: bold;
}
.specialslides .arrow{
    width: 50px;
    height: 50px;
    margin-top:100%;
    background-color:#FF5D12;
    border-radius: 50%;
}
.menugallery h1{
    font-size: 25px;
    color: #FF5D12;
    font-weight: bolder;
    font-family: 'Archivo Black', sans-serif;
}
.menugallery .card{
    border-radius: 20px;
    border: none;
    background-color:rgba(224, 224, 224, 0.2);
    margin: 5px;
}
.menugallery .card img{
    border-radius: 20px;
}
.menugallery a button{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family:sans-serif;
    font-weight: 500;
}
.menugallery button{
  background-color:#FF5D12;
  border: none;
  text-decoration: none;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  box-shadow: #FF5D12;
}
.menugallery .card-text{
    font-size: 13px;
}
.menugallery h5{
    font-size: 18px;
    color:#522209;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
}
.all-for-you{
    margin-top: 4%;
    margin-left: 5%;
}
.all-for-you h1{
    font-size: 22px;
    color: #FF5D12;
    font-weight: bold;
}
.all-for-you a{
    float: right;
    font-size: 20px;
    color: #522209;
    font-weight: 900;
    margin-right: 10%;
    text-align: center;
}
.all-for-you a:hover{
    text-decoration-style: solid #522209;
}
.all-for-you a img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.slides-for-you{
    margin-top: 1%;
}
.slides-for-you .card{
    width: 100%;
    
}
.slides-for-you .see-all-arrow{
    width: 20px;
    height: 20px;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    float: right;
    margin-top: -17%;
}
.slides-for-you a h4{
    font-size: 18px;
    font-weight:800;
    font-family: 'Archivo Black', sans-serif;
    color:#522209;
}
.slides-for-you .card a{
    text-decoration: none;
}
.cart i{
    font-size: 37px;
    color: white;
}
.cart a button{
    width: 200px;
    height: 50px;
    background-color: #FF5D12;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    position: relative;
}
.cart span{
    font-size: 14px;
    color: white;
    position: absolute;
    right: 75px;
    background-color: #606060;
    padding: 0 3px;
    border-radius: 20%;

}
.page-footer{
    margin-top: 25%;
    width: 100%;
    height: 100px;
    background-color:#D2DDE5;
}
.footer{
    padding-top: 20px;
    margin-left: 20%;
}
.footer .logo{
    color: #FF5D12;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    cursor: default;
}
.footer .about a{
    font-size: 30px;
    color: #522209;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.footer .copyright{
    font-size: 14px;
    color: #522209;
    padding-top: 15px;
}
